@{
    Layout = null;
}

<span>Product name: @ViewBag.Product </span>
<br/>
<span>Product count: @ViewData["Count"]</span>
<br />
<span>Product Quality: @TempData["Quality"] </span>


<h1 style="color:red">Hello World</h1>